.student-profile {
  .profile-view {
    margin-top: 42px;

    &.desktop-version {
      display: flex;

      .profile-content {
        display: flex;
      }
    }

    &.mobile-version {
      .profile-image {
        margin: 0 auto 20px;
      }

      .profile-content {
        .profile-info {
          margin-bottom: 25px;
        }
      }
    }

    .profile-image {
      margin-right: 26px;
      width: 128px;
      height: 128px;
      cursor: pointer;

      .avatar-section {
        position: relative;
        width: 100%;
        height: 100%;
      }

      .user-avatar {
        width: 128px;
        border-radius: 50%;
        border: 1px solid #C4C4C4;
        height: 100%;
      }

      .edit-avatar {
        position: absolute;
        bottom: 0px;        
        padding: 5px 0;
        width: 100%;
        text-align: center;
        height: 30px;
        background: white;
        opacity: 0.6;

        span {
          font-family: Source Sans Pro;          
          font-weight: 300;
          font-size: 12px;
          line-height: 16px;
          color: #000000;
        }
      }

      .default-avatar {
        width: 124px;
        height: 124px;
        background-color: #e1e1e1;
        border-radius: 50%;
        border: 1px dashed #C4C4C4;
        position: relative;

        .upload-image {
          position: absolute;
          width: 56px;
          height: 42px;
          background: #FDFDFD;
          opacity: 0.9;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          bottom: 9px;
          left: 6px;
          transform: translate(50%, 50%);         
        }
      }
    }

    .profile-content {
      width: 100%;      
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      background: #FFFFFF;
      border: 0.5px solid #F2F2F2;
      box-sizing: border-box;
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.01);
      border-radius: 11px;

      .profile-info {
        h3 {
          font-family: Source Sans Pro;          
          font-weight: 600;
          font-size: 18px;
          line-height: 25px;
          color: #000000;
          margin: 0 0 5px;
          
          span {
            color: #42413D;
          }
        }

        .student-level {
          font-family: Source Sans Pro;
          font-weight: 600;
          font-size: 10px;
          line-height: 13px;
          color: #000000;
        }

        .since-date {
          font-family: Source Sans Pro;          
          font-weight: 300;
          font-size: 10px;
          line-height: 13px;
          color: #000000;
        }

        .main-info {
          display: flex;
          margin-top: 15px;

          .telephone-email {
            p {
              font-family: Source Sans Pro;
              font-style: normal;
              font-weight: 300;
              font-size: 14px;
              line-height: 18px;
              color: #000000;
            }
          }

          .address-info {            
            font-family: Source Sans Pro;            
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            color: #000000;
            max-width: 164px;
          }

          .vertical-divider {
            margin: 0 30px;
            border-left: 0.5px solid #E1E1E1;
          }
        }
      }

      a {        
        padding: 13px 18px;
        color: white;
        text-decoration: none;
        background-color: #EDBA38;
        text-align: center;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        border: none;
        outline: none;
        cursor: pointer;
      }
    }
  }

  .upcoming-appointments, .past-lessons {
    margin-top: 42px;
  }
}

.profile-default {
  .form-section {      
    background: #FFFFFF;
    box-shadow: 2px 2px 46px rgba(235, 235, 235, 0.5);
    width: auto;

    .form-row {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 22px;   
    }

    .form-row > * {
      flex-basis: calc(50%);
    }
    
    .name-input {
      display: flex;
      width: 100%;

      .form-item {
        width: 47%;
        
        &:first-child {
          margin-right: 3%;
        }

        &:nth-child(2) {
          margin-left: 3%;
        }
      }
    }

    .form-item {        
      margin-bottom: 20px;

      .form-item-inner {
        display: flex;
        flex-direction: column;

        label {
          font-family: Avenir Next;
          font-weight: normal;
          font-size: 18px;
          line-height: 25px;
          color: #767676;
        }

        input:not(.form-control) {
          border-right: none;
          border-left: none;
          border-top: none;
          border-bottom: 1px solid #979797;
          outline: none;
          padding: 5px 0;
          font-family: Avenir Next;          
          font-weight: 600;
          font-size: 20px;          
          color: #42413D;
        }

        input.form-control {
          border-right: none;
          border-left: none;
          border-top: none;
          border-bottom: 1px solid #979797;
          outline: none;            
          font-family: Avenir Next;          
          font-weight: 600;
          font-size: 20px;          
          color: #42413D;
          width: 100%;
          border-radius: 0;
        }

        .flag-dropdown {
          background-color: transparent;
          border: none;
          border-radius: 0;
          border-bottom: 1px solid #979797;

          &.open {
            border-bottom: 1px solid #979797;
          }
        }

        .country-list {
          margin: 1px 0 0 -1px;
        }
      }        
    }

    .error-msg {
      color: red;
      text-align: left;
      margin-top: 5px;
    }

    .system-error-msg {
      color: red;
      text-align: center;
      margin-top: 5px;
    }

    .submit-action {
      margin: 30px 0;
      text-align: center;      

      .auth-button {
        background: #6A1CEA;
        font-family: Avenir Next;        
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #FFFFFF;
        outline: none;
        border: none;
        padding: 11px 70px;
        cursor: pointer;       
      }
    }

    .CustomCheckBox {
      display: block;
      margin-bottom: 2rem;
    
      input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
    
        &:checked + label:after {
          content: '';
          display: block;
          position: absolute;
          top: 3px;
          left: 9px;
          width: 4px;
          height: 10px;
          border: solid #979797;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
        }
      }
    
      label {
        position: relative;
        cursor: pointer;
        font-family: Avenir Next;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #767676;
    
        &:before {
          content: '';
          -webkit-appearance: none;
          background-color: transparent;
          border: 1px solid #979797;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          padding: 10px;
          display: inline-block;
          position: relative;
          vertical-align: middle;
          cursor: pointer;
          margin-right: 10px;
          margin-top: -4px;      
        }
      }
    }
  }
}